/* ------------------------------------------------ Typo implorts ------------------------*/
 
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;1,500&display=swap'); 
 /* ---------------------------- Background images ---------------------- */

 /*--------------------------- Desktop-------------------------------*/

.land-page{
    height: 100vh;
    background-image: url("../img/desktop/alternative-background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
}

@media(max-width: 1200px) {

    .land-page {
        background-image: url("../img/alternative-background-1200.png");
    }   
}
@media(max-width: 992px) {

    .land-page {
        background-image: url("../img/smartphone/background-medium2.png");
    }   
    #calendar-text p {
        font-size: 20px;
    }
    .calendar-text-container{
        min-height: 40vh;
    }
}

@media(max-width: 768px) {

    .land-page {
        background-image: url("../img/smartphone/background-smartphone.png");
    }
    #calendar-text p {
        font-size: 15px;
    }
    .calendar-text-container{
        min-height: 383px;
    }   
}

.nav-link, .dropdown-item{
    font-style: italic;
    color: black !important;    
    font-size: large;
}

.nav-link{
    margin: 0 0.5rem;
}
.calendar-text-container{
    min-height: 40vh;
}

.menu-background{
    background: none;
    border: 0px;

}
 /* ---------------------- Banner --------------------*/
 
#banner {
    color: #0414e7;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

/* ------------------ Mooving Text ---------------------- */
#banner > h1 {
    display: inline-block;                
    padding-right: 2em;                   /* sapce for transition */
    padding-left: 100%;                   /* Initialy to the right of the container */
    white-space: nowrap;                  /* No back to line */
    animation: defilement-rtl 30s infinite linear;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-style: italic;
  }
  @keyframes defilement-rtl {
    0% {
      transform: translate3d(0,0,0);      /* right initial position */
    }
    100% {
      transform: translate3d(-100%,0,0);  /* final left position */
    }
  }


/* ----------------------------------- Archives ----------------*/

.archives-container h2{
    text-transform: uppercase;
    font-family: 'mukta', sans-serif;
}

#archives-folder{
    cursor: pointer;
}

.archieves-cards{
    display: none;
    width: 30%;
    height: 60%;
    position: absolute;
    left: 35%;
    top: 10%;
    border: black solid 1px;
    cursor: pointer;
    padding: 10px;
    overflow: scroll;
    background-color: #f5fbfc;
    font-family: 'PT sans', sans-serif;
    text-align: center;
}

.archieves-active{
    display: block;
}
.archieves-active:hover{
    transform: scale(1.05);
}

.first-archieves-card{
    z-index: 1;
}

.second-archieves-card{
    margin : 3em 0 0 3em;
    z-index: 2;
}
.third-archieves-card{
    margin : 6em 0 0 6em;
    z-index: 3;
}
.fourth-archieves-card{
    margin : 9em 0 0 9em;
    z-index: 4;
}
.fifth-archieves-card{
    margin : 12em 0 0 12em;
    z-index: 5;
}

/*---------------------------- Calendar Text -----------------------------*/
.calendarTextDisabled{
    display: none;
}
/*-------------------------------------- Calendar------------------------*/

#calendar .calendar-toggler {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    cursor: pointer;
    font-style: italic; 
}

.calendar-text-container{
    font-family: 'PT sans', sans-serif;

}
.calendar-text-container p {
    text-transform: uppercase;
    margin: auto;
}
#calendar-text{
    color: #0414e7;
    font-style: italic;
}
#calendar-text a {
    text-decoration: none;
    color: rgb(119, 119, 87);
}
/* ---------------------------------------- research ----------------------------*/

.research-container h2{
    text-transform: uppercase;
    color: #6c0707;
    font-family: 'mukta', sans-serif;
}
#research-folder{
    cursor: pointer;
}

.research-cards{
    display: none;
    width: 30%;
    height: 60%;
    position: absolute;
    left: 35%;
    top: 10%;
    border: black solid 1px;
    cursor: pointer;
    padding: 10px;
    overflow: scroll;
    background-color: #f5fbfc;
    font-family: 'PT sans', sans-serif;
    text-align: center;
}

.research-active{
    display: block;
}
.research-active:hover{
    transform: scale(1.05);
}

.first-research-card{
    z-index: 1;
}

.second-research-card{
    margin : 3em 0 0 3em;
    z-index: 2;
}
.third-research-card{
    margin : 6em 0 0 6em;
    z-index: 3;
}

/* --------------------------------------------- Experiments ----------------------------------------*/

.experiment-container h2{
    text-transform: uppercase;
    color: white;
    font-family: 'mukta', sans-serif;
}

#experiments-folder{
    cursor: pointer;
}

.xperiments-cards{
    display: none;
    width: 30%;
    height: 60%;
    position: absolute;
    left: 20%;
    top: 10%;
    border: black solid 1px;
    cursor: pointer;
    padding: 10px;
    overflow: scroll;
    background-color: #f5fbfc;
    font-family: 'PT sans', sans-serif;
    text-align: center;
}
.xperiments-active{
    display: block;
}
/* ----------------------------------------- Footer -------------------------------*/

@media(min-width:726px){
    footer{
       padding-top: 10%;
    justify-content: center;
    }
}
@media (max-width:500px){
    .nav-link{
    font-style: italic;
    color: black;
    font-size: 13px;
    }
    footer {
        margin: 0 auto;
    }
    #calendar-text p {
        font-size: 13px;
    }
    .sections{
        margin-top: 50vh;
    }
}

footer img{
    padding: 0 !important;
    margin: 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer ul li {
    margin: auto 0;
}

#partners-toggle{
    cursor: pointer;
}
.partners-text{
    width: 50%;
    font-size: small;
    display: none;
}
.partners-text-enabled{
    display: block;
    font-weight: bold;
    font-family: 'PT sans', sans-serif;
    color: #0414e7;
}

.sections{
    background-color: #f5fbfc;
    background-image: url("../img/page_down_4.jpg");
    height: auto;
    background-position: center;
    background-size: contain;
    background-attachment: scroll;
    color: #0414e7;
    /* color: black; */
    /* color: white; */
    font-weight: bold;
    font-family: "PT sans", sans-serif;
}
.sections p {

}
.bg-btn{
    background-color: #6c0707 !important;
    border: #6c0707 !important;
}