 /* ---------------------------- Background images ---------------------- */

 /*--------------------------- Desktop-------------------------------*/

/* @media (min-width: 992px){
    body{
        background-image: url("../img/desktop/potatoe-line-desktop.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: antiquewhite;
    }
}

/*-------------------------------------Medium----------------------------------*/

/* @media ((min-width: 576px) and (max-width:992px)){
    body{
        background-image: url("../img/medium/potatoe-line-medium.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
 }

 @media (max-width:576px) {
    body{
        background-image: url("../img/smartphone/potatoe-line-desktop.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
 } */ 

 body{
    background-image: url("../img/full-background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
}
.calendar-text-container{
    min-height: 40vh;
}
.research-container{
    /* height: 40vh; */
}



 /* ---------------------- Banner --------------------*/
 
#banner {
    color: #03aefd;
    width: 75%;
    overflow: hidden;
    margin: 0 auto;
}

/* ------------------ Mooving Text ---------------------- */
#banner > h1 {
    display: inline-block;                
    padding-right: 2em;                   /* sapce for transition */
    padding-left: 100%;                   /* Initialy to the right of the container */
    white-space: nowrap;                  /* No back to line */
    animation: defilement-rtl 30s infinite linear;
    margin: 0 auto;
  }
  @keyframes defilement-rtl {
    0% {
      transform: translate3d(0,0,0);      /* right initial position */
    }
    100% {
      transform: translate3d(-100%,0,0);  /* final left position */
    }
  }


/* ----------------------------------- Archives ----------------*/

#archives-folder{
    cursor: pointer;
}

.archieves-cards{
    display: none;
    width: 30%;
    height: 60%;
    position: absolute;
    left: 35%;
    top: 10%;
    border: black solid 1px;
    cursor: pointer;
    padding: 10px;
    overflow: scroll;
    background-color: #f5fbfc;
    font-family: 'PT sans', sans-serif;
    text-align: center;
}

.archieves-active{
    display: block;
}
.archieves-active:hover{
    transform: scale(1.05);
}

.first-archieves-card{
    z-index: 1;
}

.second-archieves-card{
    margin : 3em 0 0 3em;
    z-index: 2;
}
.third-archieves-card{
    margin : 6em 0 0 6em;
    z-index: 3;
}
.fourth-archieves-card{
    margin : 9em 0 0 9em;
    z-index: 4;
}
.fifth-archieves-card{
    margin : 12em 0 0 12em;
    z-index: 5;
}

/*---------------------------- Calendar Text -----------------------------*/
.calendarTextDisabled{
    display: none;
}
/*-------------------------------------- Calendar------------------------*/

#calendar p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    cursor: pointer;
}
#calendar-text{
    color: #03aefd;
}

/* ---------------------------------------- research ----------------------------*/

#research-folder{
    cursor: pointer;
}

.research-cards{
    display: none;
    width: 30%;
    height: 60%;
    position: absolute;
    left: 35%;
    top: 10%;
    border: black solid 1px;
    cursor: pointer;
    padding: 10px;
    overflow: scroll;
    background-color: #f5fbfc;
    font-family: 'PT sans', sans-serif;
    text-align: center;
}

.research-active{
    display: block;
}
.research-active:hover{
    transform: scale(1.05);
}

.first-research-card{
    z-index: 1;
}

.second-research-card{
    margin : 3em 0 0 3em;
    z-index: 2;
}
.third-research-card{
    margin : 6em 0 0 6em;
    z-index: 3;
}

