@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;1,500&display=swap'); 


.main-page{
    background-image: url("../img/artworkbackground2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
   color: #0414e7;
    text-transform: lowercase;
    font-size: 2em;
    font-family: 'PT sans', sans-serif;
}
.back-arrow{
    color: #0414e7;
    font-size: 35px;
}
